<% include partials/header %>
     <h1>You fell in love with: <%=thisis%> </h1>
     <% if(thisis.toLowerCase() === "lala"){ %>
          <p>Nice choice!</p>
     <% } %>
     <p>P.s.: this is love.ejs file</p>          
<% include partials/footer %>
